{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h1>RECEITAS</h1>

    <ul>
    {% for churrasco in object_list %}
        <li>
            <div>
                <img src="" alt="">
            </div>
            <div>
                <p>{{churrasco.nome_receita}}</p>
            
     
                <small>
                    
                    Ingredientes: {{churrasco.ingredientes}}
                    <br>
                    Modo de Preparo: {{churrasco.modo_preparo}}
                    <br>
                    Tempo de Preparo: {{churrasco.tempo_preparo}}
                    <br>  
                    Rendimento: {{churrasco.rendimento}}
                    <br>
                    Autor: {{churrasco.Autor}}
                    <br>
                    Email: {{churrasco.Email}}
                    
                    
                </small>    
                
            </div>
        </li>
    {% endfor %}
    </ul>
{% endblock %}
